.body-chat main > .mdl-layout__tab-panel{
	padding: 8px;
	padding-top: 28px;
}

.body-chat .mdl-card .mdl-card__supporting-text {
	margin: 40px;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px);
}

.body-chat section .section__circle-container > .section__circle-container__circle {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 8px 0;
}

.logo_title {
	font-size: 18px;
}

.rules-icon {
	margin-right: 10px;
}

.logo-sidebar{
	height: 50px;
	padding: 10px 10px 5px 10px;
}

.left-menu-option {
	color:white !important;
}

/********* SIDEBAR *******/
.users-container-error{
	text-align: center;
}

.users-container-error .material-icons {
	font-size: 50px;
}

.container-options {
	text-align: right;
}

.container-options a{
	color: white;
	padding: 10px;
}

/******** SPINNER *******/
.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text {
	color: white;
	display: inline-block;
	margin-left: 5px;
}

.bounceball {
	position: relative;
	display: inline-block;
	height: 37px;
	width: 15px;
}
.bounceball:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	transform-origin: 50%;
	animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
	0% {
		top: 30px;
		height: 5px;
		border-radius: 60px 60px 20px 20px;
		transform: scaleX(2);
	}
	35% {
		height: 15px;
		border-radius: 50%;
		transform: scaleX(1);
	}
	100% {
		top: 0;
	}
}

/**** MESSAGE BOX*****/
.chat-title{
	border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.card-actions{
	padding-left: 30px;
	padding-right: 30px;
}

.button-card {
	width: 92.4775px;
	height: 92.4775px;
	transform: translate(-50%, -50%) translate(5px, 17px);
}

.menu-card{
	right: 7.99713px;
	top: 40px;
	width: 123.991px;
	height: 159.986px;
}

.menu-button{
	width: 123.991px;
	height: 159.986px;
}

.menu-list{
	clip: rect(0px 123.991px 0px 123.991px);
}

.button-menu {
	position: absolute;
	z-index: 99;
	right: 8px;
	margin-top: 5px;
}




/************* CHAT **********/
.rebelchat-message-list {
	width: 100%;
}

.rebelchat-message {
	padding-left: 55px !important;
	text-align: justify;
	height: initial !important;
}

.rebelchat-message-item{
	height: initial;
}

.rebelchat-messages-container {
	margin: 10px !important;
	overflow-y: scroll;
	width: 100% !important;
}

.rebelchat-main-messages-container{
	max-height: 550px;
}

.rebelchat-message-item-container {
	height: initial !important;

}
.rebelchat-img-sm {
	width: 46px;
	height: 46px;
	margin-right: 10px;
}
